.macondo-regular {
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
.navbar-custom {
    background-color: #dc3545;
    padding: 15px;
    font-size: 18px;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff;
}
.navbar-custom .nav-link:hover {
    color: #efc6c6;
}
.navbar-custom .navbar-toggler {
    border-color: #f8f9fa;
}
.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23f8f9fa' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-custom .search-bar {
    max-width: 400px;
    width: 100%;
}
.navbar-custom .dropdown-menu {
    background-color: #dc3545;
    border-color: #f8f9fa;
}
.navbar-custom .dropdown-item {
    color: #ffffff;
}
.navbar-custom .dropdown-item:hover {
    color: #f8f9fa;
    background-color: #c82333;
}

.carousel-item img {
    max-height: 740px; 
    width: auto; 
    margin: 0 auto; 
}
  
.carousel-item {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}
.carousel-item.active {
    opacity: 1;
}

/* trending */
.image-box {
    width: 200px;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 0 auto; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: linear;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
}
.section1 {
    position: relative;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
    margin-bottom: 20px; /* Adjust margin between sections */
    animation-name: identifier;
    animation-duration: 3s; 
    animation-delay: 1s; 
    animation-iteration-count: infinite; 
    animation-timing-function: linear;  
    animation-direction: reverse;
    left:-130%;
}

.section2 {
    position: relative;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
    margin-bottom: 20px; /* Adjust margin between sections */
    animation-name: iidentifier;
    animation-duration: 3s; 
    animation-delay: 1s; 
    animation-iteration-count: infinite; 
    animation-timing-function: linear;  
    animation-direction: reverse;
    left:-130%;
}

.section3 {
    position: relative;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
    margin-bottom: 20px; /* Adjust margin between sections */
    animation-name: identifier;
    animation-duration: 3s; 
    animation-delay: 1s; 
    animation-iteration-count: infinite; 
    animation-timing-function: linear;  
    animation-direction: reverse;
    left:-130%;
}

.section4 {
    position: relative;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
    animation-name: iidentifier;
    animation-duration: 3s; 
    animation-delay: 1s; 
    animation-iteration-count: infinite; 
    animation-timing-function: linear;  
    animation-direction: reverse;
    left:-130%;
}

  @keyframes identifier {
    100% {
        transform: translateX(120%); 
    }
    0% {
        transform: translateX(-100px); 
    }
}

  @keyframes iidentifier {
    0% {
        transform: translateX(100%); /* Start position (off the right side of the screen) */
    }
    100% {
        transform: translateX(80px); /* End position (80px from the left side of the screen) */
    }
}

.footer #submit:hover {
    background-color: #e96e7a;
}


.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.category {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
#categori {
    text-align: center;
    color: #c82333;
    font-size: 40px;
}

.category p {
    font-size: 1em;
    color: #666;
}

.category:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.book-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    padding: 30px;
}

.book {
    width: 220px;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.book:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #c82333;
}

.book img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-info {
    padding: 0px;
    background-color: #f9f9f9;
    border-radius: 0 0 5px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
}

.book-info h2 {
    font-size: 20px;
    margin-top: 0;
    text-align: center;
    padding-top: 2px;
}

.book-info p {
    margin: 5px 0;
    text-align: center;
}

.actions {
    display: flex;
    justify-content: space-evenly;;
}



/* .wishlist-icon:hover {
    color: red; 
}

.cart-icon:hover {
    color: blue; 
} */

.wishlist-icon:hover {
    color: red; 
}

.cart-icon:hover {
    color: blue; 
}

.wishlist-icon:hover::before {
    content: '\f004'; /* Font Awesome code for filled heart */
    font-family: 'Font Awesome 5 Free'; /* Specify Font Awesome family */
    font-weight: 900; /* Solid font weight */
}

.cart-icon:hover::before {
    content: '\f07a'; /* Font Awesome code for shopping cart */
    font-family: 'Font Awesome 5 Free'; /* Specify Font Awesome family */
    font-weight: 900; /* Solid font weight */
}